<!DOCTYPE html>
<html>
  <head>
    <title>New Puppy</title>
  </head>
  <body>
    <h1>New Puppy</h1>
    <h2>Puppy Name:%0A<%= @puppy.name %></h2>
    <h2>Puppy Breed:%0A<%= @puppy.breed %></h2>
    <h2>Puppy Age:%0A<%= @puppy.age %></h2>
  </body>

</html>
